*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    border-top: 1px solid transparent;
}

#elem{
    font-family: 'PlayFair Display';
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    min-height: 200px;
    /* background-color: red; */
}

#elem h1{
    font-size: 54px;
    font-weight: 100;
}

#elem p{
    opacity: 0;
    width: 82%;
    margin-top: 20px;
}

#khamba{
    opacity: 0;
    margin-top: 20px;
    width: 400px;
}

#dadaji{
    opacity: 0;
    margin-left: 10px;
    width: 400px;
}


















