*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html,body{
    width: 100%;
    height: 100%;

} 
body{
    padding: 20px;
}
#background{
     width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1561363702-e07252da3399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: top;
    }
#overlay{
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
}
#content
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#content h1{

    text-align: center;
    letter-spacing: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}
#content p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}