*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html,body{
    width: 100%;
    height: 100%;

} 
#back{
    width: 100%;
    height: 100%;
    background-color: blueviolet;

}
#back2{
    width: 50%;
    height: 50%;
     background-color:yellow;
    
}
#back3{
    width: 50%;
    height: 50%;
    background-color:red
    
}
#back4{
    width: 50%;
    height: 50%;
    background-color:greenyellow;
    
}
